$script: "grafolita-script", cursive;
$font: "franklin-gothic-urw", "Arial", sans-serif;

body {
  font-family: $font;
  @extend %p;
}

p {
  @extend %p;
}

h1 {
  @extend %h;
}

h2 {
  @extend %sh;
}

h3 {
  @extend %ssh;
}

.script {
  font-family: $script;
}

em {
  font-style: italic;
}