@import "compass/reset";

@import "background";
@import "typography";

@import "prism";
@import "prism-knitting";

$color: #333;

@mixin border($location) {
  border-#{$location}: 1px dotted lighten($color, 60%);
}

body {
  color: $color;
}

.container {
  margin: 2% auto;
  padding: 2%;
  max-width: 960px;
}

.content {
  padding: 4% 0;
}

label {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: lighten($color, 40%);
  @include border(bottom);
}

table.pure-table {
  tr {
    td:first-child {
      font-weight: 500;
    }
    td:nth-child(3) {
      color: lighten($color, 50%);
    }
  }
}

#footer {
  margin-top: 7%;
  padding-top: 3%;
  @include border(top);
}

.border-top {
  margin-top: 5%;
  padding-top: 5%;
  @include border(top);
}