%ul.menu
  %li
    %strong Contents
  %li
    %a{ :href => '/' } Sizes
  %li
    %a{ :href => '/pattern/charts' } Charts
  %li
    %a{ :href => '/pattern/notes' } Pattern notes
  %li
    %a{ :href => '/pattern/customizations' } Customizations
  %li
    %a{ :href => '/pattern/custom-sizing' } Custom sizing
  %li
    %a{ :href => '/pattern/stitch-counts' } Stitch Counts
  %li
    %a{ :href => '/pattern/photos' } Photos
  %li
    %a{ :href => '#' } Abbreviations
