%h1 Customizing Your Traveling Woman

%h2 Invisible Spine Increases

%p Rather than working the shawl with a yarn over spine, you may choose to use make one increases instead (pictured right in the lace version). I have maintained yarn overs along the garter stitch border in this sample in order to facilitate easier blocking.

%p I’ve used k2 border here because all of the yarn weights (except for lace) call for a k2 border. Lace weight calls for a k3 border. Adjust accordingly.

%p Work make one increases as follows for the spine:

%p (RS) k2, slm, yo, k to m, m1R, slm, k1, slm, m1L, k to m, yo, slm, k2

%h3 Special abbreviations

%p
  %strong m1R:
  with your left needle, pick up the strand that runs between needles from back to front. Knit the st you just picked up through the front of the loop.

%p 
  %strong m1L:
  with your left needle, pick up the strand that runs between needles from front to back. Knit the st you just picked up through the back loop.