!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title Traveling Woman by Liz Abinante
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "css/normalize.css", :rel => "stylesheet"}
    %link{:href => "css/skeleton.css", :rel => "stylesheet"}
    %link{:href => "css/main.css", :rel => "stylesheet"}
    %base{:href => "/#"}
    = include_gon(:namespace => 'ravelry')
  %body{"ng-app" => "travelingWoman"}
    %nav.logged-in
      %ul
        %li
          Logged in as:
          = @user.username
        %li
          %a{ :href => '' } Legend
        %li
          %a{ :href => '' } Row-by-Row Stitch Counts
        %li
          %a{ :href => 'http://www.ravelry.com/discuss/traveling-woman/2883745/' } Pattern help
        %li
          %a{ :href => '/logout' } Logout
    %section{ "ng-controller" => "travelingWomanController" }
      .container
        .row
          .columns.twelve
            %h1.title Traveling Woman
        .row
          .columns.three.materials
            %ul.sortable
              %li Yarn weight:
              %li{ "ng-click" => "show(5)", "ng-class" => "{ selected: showWeight === 5 }" } All
              %li{ "ng-click" => "show(0)", "ng-class" => "{ selected: showWeight === 0 }" } Lace
              %li{ "ng-click" => "show(1)", "ng-class" => "{ selected: showWeight === 1 }" } Fingering
              %li{ "ng-click" => "show(2)", "ng-class" => "{ selected: showWeight === 2 }" } Sport / DK
              %li{ "ng-click" => "show(4)", "ng-class" => "{ selected: showWeight === 3 }" } Worsted
            %ul.sortable
              %li Sort by:
              %li{ "ng-click" => "sort('weight')", "ng-class" => "{ selected: sortOrder === 'weight' }" } Yarn weight
              %li{ "ng-click" => "sort('sized')", "ng-class" => "{ selected: sortOrder === 'sized' }" } Size label
              %li{ "ng-click" => "sort('depth')", "ng-class" => "{ selected: sortOrder === 'depth' }" } Depth
              %li{ "ng-click" => "sort('wingspan')", "ng-class" => "{ selected: sortOrder === 'wingspan' }" } Wingspan
              %li{ "ng-click" => "sort('yards')", "ng-class" => "{ selected: sortOrder === 'yards' }" } Yardage / Meters
            %ul.sortable
              %li Display materials in:
              %li{ "ng-class" => "{ selected: measurements === 'in' }" } Inches / Yards
              %li{ "ng-class" => "{ selected: measurements === 'cm' }" } Centimeters / Meters
          .columns.nine.materials
            %strong How to use this pattern
            %p Simply select a pre-determined size below and then configure your options.

            %p
              %strong Be sure to print your pattern or save the PDF: customized patterns are not saved.
            .row.material{ "ng-repeat" => "material in materials | orderBy:sortOrder:reverse" }
              .row
                .columns.four
                  .header {{ material.yarn }} {{ material.size }} 
                  .value.row
                    .title.columns.five Depth
                    .details.columns.seven {{ material.depth }} inches
                  .value.row
                    .title.columns.five Wingspan
                    .details.columns.seven {{ material.wingspan }} inches
                  .value.row
                    .title.columns.five Yards
                    .details.columns.seven {{ material.yards }}
                .columns.eight
                  .photo{ 'ng-if' => 'material.photo' }
                    %img{ :src => '/images/{{ material.photo }}' }
  
    %footer.legal
      %ul
        %li
          %strong Copyright &copy; 2015 Liz Abinante
        %li You have the right to print & use this pattern only for your personal non-commercial use. You may sell items made from this pattern for charitable causes.
    -# %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src => "/js/jquery.min.js"}
    %script{:src => "/js/index.js" }
    :javascript
      window.jQuery || document.write('<\/script>')