%h1 Sizes

%h2 How to use this pattern

%p Simply select a pre-determined size below and then configure your options. Be sure to print your pattern or save the PDF: customized patterns are not saved!

%p Hover over a circle below to see the depth (D), wingspan (W), and yardage for the size selected.

%table.u-full-width
  %thead
    %tr
      %th
      %th xsmall
      %th small
      %th medium
      %th large
      %th xlarge
  %tbody
    %tr
      %td lace
      %td{ colspan: 2 }
      %td.details
        .circle
          %img{ src: '/images/circle.png' }
        .size-info
          %span.label
            d:
          {{ 16 | inchesCentimeters }}
          %br
          %span.label
            w:
          {{ 57 | inchesCentimeters }}
          %br
          {{ 470 | yardsMeters }}

      %td
      %td.details
        .circle
          %img{ src: '/images/circle.png' }
        .size-info
          %span.label
            d:
          {{ 23.5 | inchesCentimeters }}
          %br
          %span.label
            w:
          {{ 70 | inchesCentimeters }}
          %br
          {{ 310 | yardsMeters }}
    %tr
      %td fingering
      %td.details
        .circle
          %img{ src: '/images/circle.png' }
        .size-info
          %span.label
            d:
          {{ 14 | inchesCentimeters }}
          %br
          %span.label
            w:
          {{ 48 | inchesCentimeters }}
          %br
          {{ 310 | yardsMeters }}
      %td.details
        .circle
          %img{ src: '/images/circle.png' }
        .size-info
          %span.label
            d:
          {{ 17 | inchesCentimeters }}
          %br
          %span.label
            w:
          {{ 56 | inchesCentimeters }}
          %br
          {{ 380 | yardsMeters }}
      %td.details
        .circle
          %img{ src: '/images/circle.png' }
        .size-info
          %span.label
            d:
          {{ 18 | inchesCentimeters }}
          %br
          %span.label
            w:
          {{ 58 | inchesCentimeters }}
          %br
          {{ 440 | yardsMeters }}
      %td.details
        .circle
          %img{ src: '/images/circle.png' }
        .size-info
          %span.label
            d:
          {{ 24 | inchesCentimeters }}
          %br
          %span.label
            w:
          {{ 75 | inchesCentimeters }}
          %br
          {{ 600 | yardsMeters }}
      %td
    %tr
      %td sport
      %td.details
        .circle
          %img{ src: '/images/circle.png' }
        .size-info
          %span.label
            d:
          {{ 14 | inchesCentimeters }}
          %br
          %span.label
            w:
          {{ 50 | inchesCentimeters }}
          %br
          {{ 250 | yardsMeters }}
      %td.details
        .circle
          %img{ src: '/images/circle.png' }
        .size-info
          %span.label
            d:
          {{ 16 | inchesCentimeters }}
          %br
          %span.label
            w:
          {{ 54 | inchesCentimeters }}
          %br
          {{ 335 | yardsMeters }}
      %td{ colspan: 3 }
    %tr
      %td dk
      %td{ colspan: 4 }
      %td.details
        .circle
          %img{ src: '/images/circle.png' }
        .size-info
          %span.label
            d:
          {{ 24 | inchesCentimeters }}
          %br
          %span.label
            w:
          {{ 72 | inchesCentimeters }}
          %br
          {{ 520 | yardsMeters }}
    %tr
      %td worsted
      %td{ colspan: 3 }
      %td.details
        .circle
          %img{ src: '/images/circle.png' }
        .size-info 
          %span.label
            d:
          {{ 18.5 | inchesCentimeters }}
          %br
          %span.label
            w:
          {{ 60 | inchesCentimeters }}
          %br
          {{ 390 | yardsMeters }}
      %td.details
        .circle
          %img{ src: '/images/circle.png' }
        .size-info
          %span.label
            d:
          {{ 20 | inchesCentimeters }}
          %br
          %span.label
            w:
          {{ 62 | inchesCentimeters }}
          %br
          {{ 500 | yardsMeters }}

