!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title Traveling Woman by Liz Abinante
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "css/normalize.css", :rel => "stylesheet"}
    %link{:href => "css/skeleton.css", :rel => "stylesheet"}
    %link{:href => "css/main.css", :rel => "stylesheet"}
    %base{:href => "/#"}
    = include_gon(:namespace => 'ravelry')
  %body{"ng-app" => "travelingWoman"}
    .nav
      .menu-brand
        Traveling Woman
      .menu-main
      .menu-user
    .container
      .row
        .sidebar.two.columns
        .content.ten.columns{"ng-controller" => "travelingWomanController"}
          %p hello you are logged in!
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<\/script>')