!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title Traveling Woman by Liz Abinante
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "css/normalize.css", :rel => "stylesheet"}
    %link{:href => "css/skeleton.css", :rel => "stylesheet"}
    %link{:href => "css/main.css", :rel => "stylesheet"}
    %base{:href => "/#"}
    = include_gon(:namespace => 'ravelry')
  %body{"ng-app" => "travelingWoman"}
    %nav.logged-in
      %ul
        %li Logged in as: _USERNAME_
        %li
          %a{ :href => '' } Legend
        %li
          %a{ :href => '' } Row-by-Row Stitch Counts
        %li
          %a{ :href => 'http://www.ravelry.com/discuss/traveling-woman/2883745/' } Pattern help
        %li
          %a{ :href => '/logout' } Logout
    %section{ "ng-controller" => "travelingWomanController" }
      .container
        .row
          .columns.twelve
            %h1.title Traveling Woman
            %h2.author Designed by Liz Abinante
        .row
          %h3 Materials
          %table
            %thead
              %tr
                %th{ "ng-click" => "sort('weight')" } Yarn
                %th{ "ng-click" => "sort('sized')" } Size
                %th{ "ng-click" => "sort('depth')" } Depth
                %th{ "ng-click" => "sort('wingspan')" } Wingspan
                %th{ "ng-click" => "sort('yards')" } Yardage
            %tbody
              %tr{ "ng-repeat" => "material in materials | orderBy:sortOrder:reverse" }
                %td {{ material.yarn }}
                %td {{ material.size }}
                %td {{ material.depth}}"
                %td {{ material.wingspan }}"
                %td {{ material.yards }} yards
          %h3 Notions
          %ul
            %li 4 stitch markers
            %li darning needle
    %footer.legal
      %ul
        %li
          %strong Copyright &copy; 2015 Liz Abinante
        %li You have the right to print & use this pattern only for your personal non-commercial use. You may sell items made from this pattern for charitable causes.
    -# %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src => "/js/jquery.min.js"}
    %script{:src => "/js/index.js" }
    :javascript
      window.jQuery || document.write('<\/script>')