!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title Traveling Woman by Liz Abinante
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "css/normalize.css", :rel => "stylesheet"}
    %link{:href => "css/skeleton.css", :rel => "stylesheet"}
    %link{:href => "css/main.css", :rel => "stylesheet"}
    %base{:href => "/#"}
    = include_gon(:namespace => 'ravelry')
  %body{"ng-app" => "travelingWoman"}
    %nav.logged-in
      %ul
        %li Logged in as: _USERNAME_
        %li
          %a{ :href => '' } Legend
        %li
          %a{ :href => '' } Row-by-Row Stitch Counts
        %li
          %a{ :href => 'http://www.ravelry.com/discuss/traveling-woman/2883745/' } Pattern help
        %li
          %a{ :href => '/logout' } Logout
    %section{ "ng-controller" => "travelingWomanController" }
      .container
        .row
          .columns.twelve
            %h1.title Traveling Woman
            %h2.author Designed by Liz Abinante
        .row
          .columns.four.materials
            %h3 Materials
            %h4 Notions:
            %p 4 stitch markers, darning needle

            %ul.sortable
              %li Sort by:
              %li{ "ng-click" => "sort('weight')", "ng-class" => "{ selected: sortOrder === 'weight' }" } Yarn weight
              %li{ "ng-click" => "sort('sized')", "ng-class" => "{ selected: sortOrder === 'sized' }" } Size label
              %li{ "ng-click" => "sort('depth')", "ng-class" => "{ selected: sortOrder === 'depth' }" } Depth
              %li{ "ng-click" => "sort('wingspan')", "ng-class" => "{ selected: sortOrder === 'wingspan' }" } Wingspan
              %li{ "ng-click" => "sort('yards')", "ng-class" => "{ selected: sortOrder === 'yards' }" } Yardage
            %ul.sortable
              %li Display materials in:
              %li{ "ng-class" => "{ selected: measurements === 'in' }" } Inches / Yards
              %li{ "ng-class" => "{ selected: measurements === 'cm' }" } Centimeters / Meters
            .material{ "ng-repeat" => "material in materials | orderBy:sortOrder:reverse" }
              %h4 {{ material.yarn }} : : {{ material.size }}
              %p Finished size: {{ material.depth }}" depth, {{ material.wingspan }}" wingspan
              %p Approximately {{ material.yards }} yards required.
          .columns.eight
            %h3 How to use this pattern
            %p Welcome to the digital edition of Traveling Woman! Here you'll find the original pattern reproduced in an easy-to-use online format, with an option to print your own custom PDF. You can view the pattern using one of the pre-written sets of instructions, or create a completely custom pattern.

            %h4 Pre-written instructions

            %p Pre-written instructions are step-by-step, and include row-by-row stitch counts as well as finished sizes and yardage estimates.

            %p Simply select a size from the menu on the left and you're ready to knit!

            %h4 Create custom instructions

            %p.highlight Important! Custom instructions do not include finished size measurements, yardage estimates, and row-by-row stitch counts.

            %p To begin creating custom instructions for your Traveling Woman, click here.
    %footer.legal
      %ul
        %li
          %strong Copyright &copy; 2015 Liz Abinante
        %li You have the right to print & use this pattern only for your personal non-commercial use. You may sell items made from this pattern for charitable causes.
    -# %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src => "/js/jquery.min.js"}
    %script{:src => "/js/index.js" }
    :javascript
      window.jQuery || document.write('<\/script>')