%h1 Pattern notes

%p This is the pattern that started it all. The original. The first. The crazy idea that exploded into a series of four patterns. 

%h2 Sizes and Customizations

%p This new version of Traveling Woman contains multiple sizes in different yarn weights. Instructions are divided up based on yarn weights. Yarn information, gauge, and needle sizes are provided with each individual set of instructions.

%p 
  %strong All of the instructions use the same charts except for lace weight. Lace weight instructions have their own charts.

%p If you wish to do custom sizing, see the page on custom sizing. To customize your shawl further, please refer to the Customizing Your Traveling Woman section of the pattern. A special section for adding eyelets to the body of the shawl is included in this section.

%h2 About the original Traveling Woman

%p Being an indecisive individual, this shawl is named after two things. First, the song "Travelling Woman" by Bat for Lashes (she’s British, hence the extra "l"). "Travelling Woman" is a song about a brilliant woman with a promising future, who loses it all because she fell in love with a man who had too much potential, and not enough substance. She sings: "Hang on, travelling woman / Don’t sacrifice your plan / Cause it will come back to you / Before you lose it on the man." The edge of the shawl represents the dangerous web of love, as well as its highs and lows.

%p Second, the character Angela Montenegro on Bones. If you’re familiar with Angela’s character, I think the song selection makes sense: she’s artistic, a believer in love, and just the type who might get in a little too deep before she can finnd her way out (she did get married in Fiji to a complete stranger, after all). This is the second in a series of patterns based on the characters from the Bones television show.

%p Additionally, the yarn used for the original shawl traveled from California to London: it’s only fitting that the pattern be named Traveling Woman!