.materials {
  .material {
    border: 1px solid lighten(#333, 75%);
    padding: 15px;
    margin: 10px;
    width: 28%;
    float: left;
    &:hover {
      border: 1px solid lighten(#333, 40%);
      background-color: lighten(#1EAEDB, 45%);
      cursor: pointer;
    } 
  }

  .info {
    display: flex;

    .title {
      flex: 1 0;
      text-transform: uppercase;
      text-align: right;
      padding-right: 5px; 
    }

    .details {
      flex: 1 0;
    }
  }

  .header {
    padding-bottom: 10px;
  }

  h4 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 100%;
  }

  ul {
    margin: 0px;
    padding: 0 0 20px 0;
    &.sortable li {
      cursor: pointer;
    }
  }

  li {
    display: inline-block;
    padding: 0px 10px 0px 0px;
    text-transform: uppercase;
    font-weight: 500;
    &:first-child {
      font-weight: 800;
    }
    &.selected {
      color: #1EAEDB;
    }
  }
}