@import "background";
@import "nav";

a {
  color: #333;
  &:hover {
    color: #555;
  }
}

.lead {
  font-size: 175%;
  font-weight: 300;
}

section {
  padding: 50px 0px;
}

.title {
  font-weight: 900;
}

.author {
  font-weight: 500;
  font-size: 80%;
  text-transform: uppercase;
}

.call-to-action {
  font-size: 150%;
  font-weight: 700;
  text-align: center;
}

.separator {
  text-align: center;
  font-style: italic;
}