<div class="header">
  <h1 class="script">Traveling Woman</h1>
  <h2 class="script">About</h2>
</div>

<div class="content">
  <p>
    Being an indecisive individual, this shawl is named after two things. First, the song “Travelling Woman” by Bat for Lashes (she’s British, hence the extra “l”). “Travelling Woman” is a song about a brilliant woman with a promising future, who loses it all because she fell in love with a man who had too much potential, and not enough substance.
  </p>

  <p>
    The edge of the shawl represents the dangerous web of love, as well as its highs and lows. Along the bind off edge, the shawl can be blocked to subtle points, or straight.
  </p>

  <p>
    Second, the character Angela Montenegro on Bones. If you’re familiar with Angela’s character, I think the song selection makes sense: she’s artistic, a believer in love, and just the type who might get in a little too deep before she can find her way out (she did get married in Fiji to a complete stranger, afterall). This is the second in a series of patterns based on the characters from the Bones television show.
  </p>

  <p>
    And finally, the yarn used for this shawl traveled from California to London: it’s only fitting that the pattern be named Traveling Woman.
  </p>
</div>